.caption {
  position: absolute;
  left: 50%;
  top: 70%;
  // width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.fadeInLine{
  background-color: crimson;
  width: 400px;
}

.fadeInText{
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.myName{
  font-size: 80px;
}

.myTitle{
  font-size: 35px;
}


p span {
  font: 20px Monaco, MonoSpace;
  height: 50px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.char1 { transform: rotate(0deg); }
.char2 { transform: rotate(70deg); }
.char3 { transform: rotate(130deg); }
.char4 { transform: rotate(180deg); }
.char5 { transform: rotate(230deg); }
.char6 { transform: rotate(290deg); }


#chevron  {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: 3000ms;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: 3000ms;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: 3000ms;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: 3000ms;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }

}

#chevron i{
  margin-top: 40px;
  color: #000;
  text-decoration: none;
}


html{
    scroll-behavior: smooth;
}


i.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  animation-delay: 5s;

}
i.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  animation-delay: 5s;

}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
