@import "~bootstrap/scss/bootstrap";
*{
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 240,237);
    font-family: 'Gupter', serif;
    color: #444544;
    margin: 0;

}

//WELCOME

#welcome{
    // background-color: brown;
}

#squareOne{
    background: rgba(0,0,0,.3);
    width: 50%;
    height: 100%;
    // margin: 0 auto;
}

#squareTwo{
    background: pink;
    width: 50%;
    height: 100%;
    position: relative;
}



// ABOUT
#about {
    background-color:#fff;
}

#icons{
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}
#icons a {
    color: #444544;
}
.aboutTitle{
    padding: 20px 0px;
}
.aboutPara{
    font-size: 20px;
    padding: 20px 0px;
}

.row {
    display: flex;
  }

.profileImg{
    border-radius: 50%;
}

.aboutPosition{
    position: relative;
}


//SKILLS
#skills {
    background-color:#f3f0ed;
}


//PROJECTS
#projects {
    background-color:#fff;
}


//CONTACT
#contact {
    background-color:#f3f0ed;
}

.footer{
    text-align: center;
    background-color: #fff;
    // background-color: palevioletred;
    padding: 20px;
    font-size: 25px;
}

.fwh-slide{
    height: 100vh;
    box-sizing: border-box;
}

.hwh-slide{
    height: 50vh;
    box-sizing: border-box;
}

// MEDIA QUERIES

@media only screen and (max-width: 600px) {
    .profileImg{
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .aboutPosition {
        top: 50px;
    }
}