@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(243, 240,237);
    font-family: 'Gupter', serif;

}

#about {
    background-color:white;
}

#icons{
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}
#icons a {
    color: #000;
}
.aboutTitle{
    padding: 40px 0px;
}
.aboutPara{
    font-size: 20px;
    padding: 40px 0px;
}

.footer{
    text-align: center;
    background-color: palevioletred;
    padding: 20px;
    font-size: 25px;
}