@import "~bootstrap/scss/bootstrap";
*{
    box-sizing: border-box;
}

body {
    // background-color: rgb(243, 240,237);
    font-family: 'Gupter', serif;
    // color: #444544;
    margin: 0;

}

//WELCOME

#welcome{
    background-attachment: #000;
}

#squareOne{
    background: #000;
    width: 50%;
    height: 100%;
    // margin: 0 auto;
}

#squareTwo{
    background: #fff;
    width: 50%;
    height: 100%;
    position: relative;
}



// ABOUT
#about {
    background-color:#fff;
}

#icons{
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}
#icons a {
    color: crimson;
}

#underline {
    border: 1px solid crimson;
    width: 125px;
}
.aboutTitle{
    padding: 20px 0px;
}
.aboutPara{
    font-size: 30px;
    padding: 20px 0px;
}

.row {
    display: flex;
  }

.profileImg{
    margin-top: 20px;
    border-radius: 50%;
    border: solid #000 3px;
}

.aboutPosition{
    position: relative;
}




//SKILLS
#skills {
    background-color:#000;
}


//PROJECTS
#projects {
    background-color:#fff;
}


//CONTACT
#contact {
    background-color:#000;
}

.footer{
    text-align: center;
    background-color: #000;
    // background-color: palevioletred;
    padding: 20px;
    font-size: 25px;
    color: #fff;
}

.fwh-slide{
    height: 100vh;
    box-sizing: border-box;
}

.hwh-slide{
    height: 50vh;
    box-sizing: border-box;
}

// MEDIA QUERIES

// @media only screen and (max-width: 600px) {
//     .profileImg{
//         width: 400px;
//         height: 400px;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .aboutPosition {
//         top: 50px;
//     }
// }