#projectTitle{
  margin-top: 5px;
  color:#111;
}

.skillsTitle{
  margin-right: 90%;
  margin-bottom: 40px;
  margin-top: 10%;
  background-color: #f5d328;
  color: #fff;
  padding: 20px 14px;
}

.wrapper {
  margin: 0px 50% 0px 130px;
   }