
#squareThree{
  background: #000;
  width: 50%;
  height: 100%;
  // margin: 0 auto;
}

#squareFour{
  background: #fff;
  width: 50%;
  height: 100%;
  position: relative;
}

.contactSection{
  position: absolute;
  top: 250px;
  margin-left: 30px;

}
.contactTitles{
  font-weight: bold;
}

.space {
  padding: 20px;
}

.contactUnderline{
  border: 1px solid crimson;
}

.contactPara {
font-size: 25px;
color: crimson;
}

.contactPara  a {
  text-decoration: none;
  color: crimson;
  }

.contactImg {
  max-width:35%;
  height:700px;
  position: absolute;
  left: 130px;
  margin-top: 125px;;
}