
.leaves {
width: 900px;
height: 750px;

}

.contactDiv {
 background-color: #f5d328;

}

.connectTitle {
  // font-weight: bold;
  color:#fff;
  margin-bottom: 50px;
}

.space {
  padding: 20px;
}

// .contactUnderline{
//   border: 1px solid crimson;
//   width: 200px;
// }

.contactPara {
font-size: 20px;
color:#fff;
margin-bottom: 50px;
}

.contactWays {
  font-size: 20px;
  color:#fff;
}

.contactWays  a {
  text-decoration: none;
  color:#fff;
  }

.contactWays  a:hover {
  text-decoration: none;
  color: #000;
  }

.contactInfo {
  margin: 20% 0px;
  padding: 0px 100px;
}


@media screen and (max-width: 600px) {
  .leaves {
    width: 400px;
    height: 500px;
    }
  .contactInfo {
  // margin: 20% 0px;
  padding: 0px;
  margin-left: 5px;
  }
  .connectTitle {
  font-size: 25px;
  }

  .contactPara {
    font-size: 16px;
  }
  .contactWays {
    font-size: 16px;
  }
}