
.mainNav {
  padding: 25px 0px;
}
.navImage {
  height: 50px;
  margin-left: 25px;
}

#individualLink {
  margin-left: 50px;
  font-size: 16px;
  color: #111;
  font-family: 'Roboto';
}

#individualLink:hover {
  border-bottom: 2px solid #f5d328;
}

.navTog {
  border: none;
  margin-right: 35px;
}

.hamburger {
  color: crimson;
}


