.mainNav{
  padding: 20px 0px;
  background-color:#fff;
}
.navImage {
  height: 40px;
  margin-left: 10px;
}

#navLink{
  font-size: 16px;
  color: #111;
  font-family: 'Roboto', sans-serif;
}
#navLink:hover {
  border-bottom: 2px solid #f5d328;
}

