.projectCard {
  // padding-right: 30px;
}

.projectTitle{
  color: #000;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.projectInfo{
  font-size: 20px;
  color: #000;
}

.projectClick{
  font-size: 20px;
  color: crimson;
  font-weight: bold;
}

.projectImg{
width: 1000px;
}


.projectContents{
  padding-top: 130px;
  // border: 1px solid #000;
}

.viewProject {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.viewGit {
  color: #000;
  text-decoration: none;
  // padding: 0px 20px;
  margin: 0px 15px;
  font-weight: bold;
}

.viewProject:hover {
  border-bottom: 2px solid #f5d328;
  color: #000;
  text-decoration: none;
}

.viewGit:hover {
  border-bottom: 2px solid #f5d328;
  color: #000;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .projectImg{
    width: 325px;
    // height: 400px;
  }

  .projectTitle{
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  
  .projectInfo{
    font-size: 14px;
    color: #000;
  }
  .projectContents{
    padding-top: 0px;
    // border: 1px solid #000;
  }
}

