.projectCard {
  padding-right: 30px;
}

.projectTitle{
  color: #000;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.projectInfo{
  font-size: 20px;
}

.projectClick{
  font-size: 20px;
  color: crimson;
  font-weight: bold;
}

.projectImg{
margin: 0px;
padding: 0px;
}

// .projectImg:hover {  
//   -webkit-filter: grayscale(0%);
//   filter: grayscale(0%);
// }

.projectContents{
  padding: 150px 0px;
}