// #mainCaro {
//  height: auto;
//  width: auto;
// }

.caroImages {
  height: 95vh;
}

.previousBtn {
  border: 1.5px solid #fff;
  // margin:400px 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 75vh;
  left: 6vw;
}

.nextBtn {
  border: 1.5px solid #fff;
  // margin:400px 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 75vh;
  left: 13vw;
}

.projectDeets {
  top: 40vh;
  left: 10vh;
  width: 1000px;
  height: 200px;
  // left: -45vw;
  // margin: 10px 100px 250px 0px;
  // background-color: #f5d328;
}

.projectTitles {
  font-size: 100px;
  color: #fff;
  font-family: 'Roboto';
}

.projectLink {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: 'Roboto';
  margin-left: 5px;
  // padding-right: 305px;
}

.projectLink:hover {
  text-decoration: none;
  color: #f5d328;
}



@media only screen and (max-width: 600px) {
  .caroImages {
    width: 500px;
    height: 560px;
  }

  .previousBtn {
    top: 65vh;
  }

  .nextBtn {
    top: 65vh;
    left: 25vw;
  }

  .projectDeets {
    top: 30vh;
  width: 550px;
  left: 20px;
  height: 200px;
  

 
  // left: 15%;
  // top: 50% !important;
  // transform: translateY(-50%);
  // text-align: left;
  // bottom: initial;
  }
  
  .projectTitles {
    // position: absolute;
    font-size: 50px;
    color: #fff;
    font-family: 'Roboto';
    bottom: 200px;
  }

  .projectLink {
    text-decoration: none;
    // bottom: 50vh;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    // margin-left: 5px;
    // padding-right: 305px;
  }
}